
.navbar{
     background-color: rgb(52, 54, 52);
}.container-md{
    width:100%;
    height:700px;
    /* margin: 100px 500px 100px 500px;
    padding: 100px;
} */
}
.card1{
    height:630px;
    width:100%;
    border:2px solid black;
    background-color: rgb(52, 54, 52);
    border-radius: 15px;
    margin: 40px 90px 40px 30px;
    /* padding: 20px 20px;
*/
}
.card2{
   
    width:80%;
    border:2px solid black;
    background-color: rgb(52, 54, 52);
    border-radius: 15px;
    margin: 40px 40px 90px 190px;
    padding: 20px 20px;
}
span{
    color:white;
    margin-right:1200px;
    padding:30px;
    font-weight:bolder;
    font-size:xx-large


}
.card3, .card4, .card5{
    height:90px;
    width:80%;
    border:2px solid black;
    background-color: rgb(52, 54, 52);
    border-radius: 15px;
    margin: 3px 60px 70px 140px;
    padding: 80px 10px;
    
}
.card6{
    height:100px;
    width:96%;
    border:2px solid black;
    background-color: rgb(52, 54, 52);
    border-radius: 15px;
    margin: 3px 60px 70px 140px;
    padding: 90px 10px;

}